@font-face {
    font-family: 'MyCustomFont';
    src: url('/assets/fonts/Gilroy-Black.ttf') format('truetype'),
         url('/assets/fonts/Gilroy-Bold.ttf') format('truetype'),
         url('/assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;
